.card-name {
    text-align: center;
    padding-top: 1rem;
}

.card-description {
    text-align: center;
    width: 400px;
}

.card-container p {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px;
}

.card-container {
    margin: 1rem 0;
}

.servicesCards {
    position: relative;
    margin: 1rem 0 2rem 35%;
    padding-top: 1rem;
    height: 140px;
    width: 140px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10rem;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);   
    background: white;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicesCards img {
    position: absolute;
    margin: auto;
    width: 100%;
}

/* END OF SERVICES CARDS */