@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


.hero {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url('../../assets/hero-bg-2.jpg') no-repeat center bottom/cover;
    z-index: -2;


  }
  
  .hero:before {
    content: '';
    position: absolute;
    background: url('../../assets/hero-bg-3.png') no-repeat center bottom/cover;
    height: 100%;
    width: 100%;
    z-index: -1;

  }


.hero .hero-container {
    top: 15%;
    position: absolute;
    align-items: center;
    text-align: center;
    margin: 1rem;
    width: 100%;
    z-index: -2;
}

.hero-logo {
    text-align: center;
}

.hero h1 {
    font-size: 5rem;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}

.hero h2 {
    font-size: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.hero-container p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.hero .hero-btn button {
    cursor: pointer;
    margin: 0;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero .subtitle {
        font-size: 15px;
    }

    .hero .hero-container p {
        font-size: 14px;
        margin: 0;
    }

    .hero {
        height: 60vh;
    }

    .hero h2 {
        font-size: 18px;
    }

    .hero p {
        font-size: 12px;
    }

    .hero .hero-container {
        top: 25%;
    }

}
