@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');






.sampleSection {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  .sampleContainer {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
  }
  
  .sample-left {
    width: 80%;
    height: 600px;
    background: url(../../assets/treatment-1.jpg) no-repeat center / cover;
    padding: 1rem;  
    border-radius: 1rem;
  
    -webkit-box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
  box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
  }
  
  .sample-right {
    width: 70%;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.671);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 1rem;
    color: white;
    margin-left: -150px;
  
    -webkit-box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
  box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
  }
  
  
  .sample-header {
      text-align: center;
      padding-top: 2rem;
  }
  
  .sample-right h1 {
    font-size: 20px;
    color: var(--primary-color);
    text-align: left;
  }
  
  .header2 span {
      text-align: left;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      color: rgb(8, 75, 25);
      font-weight: 800;
  }
  
  .sample-right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;
    color: black;
    font-family: 'Montserrat', sans-serif;

  }
  
  .sample-right a {
    text-decoration: none;
    background-color: white;
    color: var(--primary-color);
    display: inline-block;
    letter-spacing: 2px;
  }
  
  @media only screen and (max-width: 768px) {
    .sampleContainer {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
  
    .sample-left {
      width: 100%;
      height: 400px;
    }
  
    .sample-right {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  
    .header2 span {
      font-size: 20px;
  }
  
  }
  
  









.job-section {
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0);
}

.job-section .content {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.job-section p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 1rem 0;
    font-size: 14px;
    line-height: 20px;
}

.job-section h1 {
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}



@media screen and (max-width: 940px) {
    .job-section {
        width: 100%;
    }

    .job-section h1 {
        font-size: 25px;
    }

    .job-section p {
        font-size: 15px;
    }
}






