@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.whatwedo-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse ;
  justify-content: space-evenly;
  padding: 12rem 0 2rem 0;
  margin: 2rem 0 5rem 0;
  background-color: rgba(9, 95, 145, 0.096);
}

.wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    margin: 5rem 0 5rem 0;
  }

.box-right {
    width: 500px;
    padding: 1rem;
}

.box-left {
    width: 500px;
    padding: 1rem;
}

.box-right img {
    width: 100%;
    border-radius: 10px;
}


.wrap .header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.whatwedo-header {
    color: rgb(202, 177, 34);
    text-align: center;
}

.wrap p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.box-btn {
    text-align: center;
}

.box-btn button {
    background-color: rgb(241, 210, 35);
    border: rgb(241, 210, 35);
}

.wrap-divider-top {
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  

  .wrap-divider-top img {
    width: 100%;
  }
  
  @media screen and (max-width: 940px) {
  
    .wrap-divider-top img {
      display: none;
    }
  }


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .wrap p {
        font-size: 14px;
    }

    .left {
        width: 100%;
    }

    .left h1 {
        font-size: 2rem;
    }

    .left button {
    margin: 1rem auto;
    }

    .whatwedo-wrap {
        padding: 3rem 0 2rem 0;
    }

}