@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse ;
  justify-content: space-evenly;
  padding: 7rem 0 5rem 0;
  margin: 5rem 0 5rem 0;
  background-color: rgba(9, 95, 145, 0.096);
}

.box {
    height: auto;
    width: 600px;
    display: inline-block;
    margin: 1rem;
}

.box-right {
    width: 500px;
}

.box-left {
    width: 500px;
}

.box-right img {
    width: 100%;
    border-radius: 10px;

}



.wrap .header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}



.wrap p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.box-btn {
    text-align: center;
}


.wrap-divider-top {
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  

  .wrap-divider-top img {
    width: 100%;
  }
  
  @media screen and (max-width: 940px) {
  
    .wrap-divider-top img {
      display: none;
    }
  
  }




/* MEDIA QUERIES */

@media screen and (max-width:940px) {




    .wrap p {
        font-size: 14px;
        text-align: center;
    }

    .left {
        width: 100%;
    }

    .left h1 {
        font-size: 2rem;
    }

.left button {
    margin: 1rem auto;
}




}